// color
$divider: #DBDBDB;

// navbar
$navbar-background-height: 40px;
$sidebar-width: 220px;

:export {
  divider: $divider;
  navbar-background-height: $navbar-background-height;
  sidebar-width: $sidebar-width
}
